<div class="col-md-6 col-md-offset-3" ng-init="initialize()">
    <div style="text-align: center;">
        <h1 style="font-family: Impact, Charcoal, sans-serif;">Reviewer/Processor Log-In</h1>
    </div>

    <form action="" id="signupForm">
        <div class="alert alert-danger" id="loginErrorLabel" role="alert" style="margin-top:0; margin-bottom:0"
            ng-show="isLoginErrorPresent" ng-cloak>
            <strong ng-bind="loginError"></strong>
        </div>

        <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <input class="form-control input-lg" type="text" name='emailAddress' placeholder="Email address"
                ng-model="adminEmail" />
        </div>
        <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input class="form-control input-lg" type="password" name='password' placeholder="Password"
                ng-model="adminPassword"
                ng-keyup="$event.keyCode == 13 && validateThenLogIn()"  />
        </div>

        <div class="form-group">
            <button type="button" class="btn btn-def btn-block btn-lg" style="background-color: #38465b; color: #fff;"
                ng-click="validateThenLogIn()">
                <b>Log-In</b>
            </button>
        </div>
    </form>
</div>
