<div class="col-md-6 col-md-offset-3" ng-init="initialize()">
    <div style="text-align: center;">
        <h1 style="font-family: Impact, Charcoal, sans-serif;">Application</h1>
    </div>

    <form action="" id="signupForm">
        <div class="alert alert-danger" id="errorLabel" role="alert" style="margin-top:0; margin-bottom:0"
            ng-show="isErrorPresent" ng-cloak>
            <strong ng-bind="error"></strong>
        </div>

        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" id="applicationTypeButton" type="button" data-toggle="dropdown">Application type
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Articulated Vehicle</a></li>
                <li><a href="#">Commercial</a></li>
                <li><a href="#">Private</a></li>
                <li><a href="#">Motorcycle</a></li>
            </ul>
        </div>
        <br/>

        <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <input class="form-control input-lg" type="number" name='emailAddress' placeholder="Drive Test score"
                ng-model="driverTestScore" />
        </div>
        <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <input class="form-control input-lg" type="text" name='state' placeholder="State"
                ng-model="state" />
        </div>

        <label class="radio-inline">
            <input type="radio" name="isFirstTime" value="First time">First time
        </label>
        <label class="radio-inline">
            <input type="radio" name="isFirstTime" value="Renewal">Renewal
        </label>
        <br/><br/>

        <div class="form-group">
            <button type="button" class="btn btn-def btn-block btn-lg" style="background-color: #38465b; color: #fff;"
                ng-click="validateThenSend()">
                <b>Submit application</b>
            </button>
        </div>
    </form>
</div>
