<!-- <div ng-init="initialize()">
    <div class="btn-group btn-group-justified">
        <a class="btn btn-primary btn-lg" style="background-color: #38465b; color: #fff; cursor: pointer;"
            ng-click="closeConfirmTransactionModal()"><b>Applicant</b></a>
        <a class="btn btn-primary btn-lg" style="background-color: #38465b; color: #fff; cursor: pointer;"
            ui-sref="home.adminlogin">Reviewer/Processor</a>
    </div>
</div> -->

<div class="col-md-6 col-md-offset-3" ng-init="initialize()">
    <div class="btn-group btn-group-justified">
        <a class="btn btn-primary btn-lg" style="background-color: #38465b; color: #fff; cursor: pointer;"
            ng-click="closeConfirmTransactionModal()"><b>Applicant</b></a>
        <a class="btn btn-primary btn-lg" style="background-color: #38465b; color: #fff; cursor: pointer;"
            ui-sref="home.adminlogin">Reviewer/Processor</a>
    </div>
    <br/>

    <div style="text-align: center;">
        <h1 style="font-family: Impact, Charcoal, sans-serif;">Applicant Signup</h1>
    </div>

    <div class="form-group" style="text-align: center;">
        <button type="button" class="btn" style="background-color: #38465b; color: #fff;"
            ng-click="doFacebookLogin()">
            <b>Facebook login</b>
        </button>
    </div>

    <form action="" id="signupForm">
        <div class="alert alert-danger" id="signupErrorLabel" role="alert" style="margin-top:0; margin-bottom:0"
            ng-show="isSignupErrorPresent" ng-cloak>
            <strong ng-bind="signupError"></strong>
        </div>

        <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input class="form-control input-lg" type="text" name='firstName' placeholder="First name"
                ng-model="firstName" />
        </div>
        <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input class="form-control input-lg" type="text" name='lastName' placeholder="Last name"
                ng-model="lastName" />
        </div>

        <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <input class="form-control input-lg" type="text" name='phoneNumber' placeholder="Email address"
                ng-model="userEmail" />
        </div>
        <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
            <input class="form-control input-lg" type="text" name='phoneNumber' placeholder="Phone Number"
                ng-model="userPhoneNumber" />
        </div>

        <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
            <input class="form-control input-lg" type="text" name='occupation' placeholder="Occupation"
                ng-model="occupation" />
        </div>
        <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
            <input class="form-control input-lg" type="text" name='residentialAddress' placeholder="Residential Address"
                ng-model="residentialAddress" />
        </div>

        <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input class="form-control input-lg" type="password" name='password' placeholder="Password"
                ng-model="userPassword"
                ng-keyup="$event.keyCode == 13 && validateThenSignup()"  />
        </div>

        <div class="form-group">
            <button type="button" class="btn btn-def btn-block btn-lg" style="background-color: #38465b; color: #fff;"
                ng-click="validateThenSignup()">
                <b>Sign up</b>
            </button>
        </div>
    </form>
</div>
