
<div class="col-md-8 col-md-offset-2" ng-init="initialize()">
    <div class="spanTabs">
        <span>
            <a href="#" id='locationsTab' class="tablinks" ui-sref="home.reviewerHome.allApplications">
                All applications
            </a>
        </span>
    </div>

    <div class="tabcontent" ui-view></div>
</div>
