<div style="width: 90%; margin-left: 5%; padding: 10px; border: 1px solid #cfcfcf;" ng-init="initialize()">
    <div style="margin-bottom: 0;">
        <p style="font-size: 1.5em; font-style: bold; background-color: #38465b; color: #fff; padding: 10px; margin-bottom: 0;">
            Applicant name
        </p>
    </div>

    <div style="margin-bottom: 0;">
        <p style="font-size: 1.5em; font-style: bold; color: #000; padding: 10px; margin-bottom: 0;">
            {{applicationData.first_name}} {{applicationData.last_name}}
        </p>
    </div>

    <div style="margin-bottom: 0;">
        <p style="font-size: 1.5em; font-style: bold; background-color: #38465b; color: #fff; padding: 10px; margin-bottom: 0;">
            Application type
        </p>
    </div>

    <div style="margin-bottom: 0;">
        <p style="font-size: 1.5em; font-style: bold; color: #000; padding: 10px; margin-bottom: 0;">
            {{applicationData.application_type}}
        </p>
    </div>

    <!-- -->
    <div style="margin-bottom: 0;">
        <p style="font-size: 1.5em; font-style: bold; background-color: #38465b; color: #fff; padding: 10px; margin-bottom: 0;">
            Driver test score
        </p>
    </div>

    <div style="margin-bottom: 0;">
        <p style="font-size: 1.5em; font-style: bold; color: #000; padding: 10px; margin-bottom: 0;">
            {{applicationData.driver_test_score}}
        </p>
    </div>

    <!-- -->
    <div style="margin-bottom: 0;">
        <p style="font-size: 1.5em; font-style: bold; background-color: #38465b; color: #fff; padding: 10px; margin-bottom: 0;">
            State application was made from
        </p>
    </div>

    <div style="margin-bottom: 0;">
        <p style="font-size: 1.5em; font-style: bold; color: #000; padding: 10px; margin-bottom: 0;">
            {{applicationData.state_made_from}}
        </p>
    </div>

    <!-- -->
    <div style="margin-bottom: 0;">
        <p style="font-size: 1.5em; font-style: bold; background-color: #38465b; color: #fff; padding: 10px; margin-bottom: 0;">
            First time or Renewal
        </p>
    </div>

    <div style="margin-bottom: 0;">
        <p style="font-size: 1.5em; font-style: bold; color: #000; padding: 10px; margin-bottom: 0;">
            {{applicationData.first_time_or_renewal}}
        </p>
    </div>

    

    <form action="" id="reviewerApprovalForm">
        <div class="alert alert-danger" id="errorLabel" role="alert" style="margin-top:0; margin-bottom:0"
            ng-show="isErrorPresent" ng-cloak>
            <strong ng-bind="error"></strong>
        </div>
        <br/>

        <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input class="form-control input-lg" type="text" name='reviewerComment' placeholder="Reviewer comment"
                ng-model="reviewerComment" />
        </div>

        <div class="form-group">
            <div class="btn-group btn-group-justified">
                <a class="btn btn-primary btn-lg" style="background-color: #38465b; color: #fff; cursor: pointer;"
                    ng-click="rejectApplication()"><b>Reject</b></a>
                <a class="btn btn-primary btn-lg" style="background-color: #38465b; color: #fff; cursor: pointer;"
                    ng-click="approveApplication()">Approve</a>
            </div>
        </div>

        <!-- <div class="form-group">
            <button type="button" class="btn btn-def btn-block btn-lg" style="background-color: #38465b; color: #fff;"
                ng-click="validateThenSignup()">
                <b>Sign up</b>
            </button>
        </div> -->
    </form>
</div>
