<div style="width: 80%; margin-left: 10%; padding: 10px;">

    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5" style="width: 100%;" ng-init="initializeAllApplicationsTab()">
        <!-- <div style="margin-top:0; margin-bottom:0">
            <div class="dataLoader col-lg-1 col-centered"
                ng-show="isGettingAllCustomerBalances"></div>
        </div> -->

        <div ng-show="isGettingData && allApplications.length === 0"
            style="text-align: center; margin-top: 0;">
            <strong>No applications have been submitted</strong>
        </div>

        <div class="table-responsive">
            <table style="width: 100%; border: 1px solid #ccc;"
                ng-show="allApplications && allApplications.length > 0">
                <thead>
                    <tr>
                        <th class="text-left">First name</th>
                        <th class="text-left">Last name</th>
                        <th class="text-left">Application type</th>
                        <th class="text-left">Driver test score</th>
                        <th class="text-left">State</th>
                        <th class="text-left">First time or Renewal</th>
                        <th class="text-left">Pending?</th>
                    </tr>
                </thead>

                <tbody class="table-hover">
                    <tr ng-repeat="anApplication in allApplications"
                        ui-sref="home.reviewApplication({applicationUuid : anApplication.application_uuid})" ng-cloak>
                        <td class="text-left">{{anApplication.first_name}}</td>
                        <td class="text-left">{{anApplication.last_name}}</td>
                        <td class="text-left">{{anApplication.application_type}}</td>
                        <td class="text-left">{{anApplication.driver_test_score}}</td>
                        <td class="text-left">{{anApplication.state_made_from}}</td>
                        <td class="text-left">{{anApplication.first_time_or_renewal}}</td>
                        <td class="text-left">{{anApplication.is_reviewer_pending}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
